
/* Partie : Modifiez le DOM */
#main {
    font-weight:normal;
    color: blue;
}

.important {
    font-style: italic;
    color: red;
}

/* Partie : Écoutez des événements */
#parent {
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    width: 300px;
}

.link {
    float: right;
    margin-left: 30px;
}

span {
    margin: 10px;
}

/* Partie : Récupérez des données utilisateur avec les événements */
#body {
    margin-top: 2rem;
    padding: 50px;
}

form, #result {
    margin: auto;
    margin-bottom: 20px;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
}


/* Tests perso */
.btn {
    background-color: grey;
    color: white;
    padding: 1rem 2rem;
    font-size: medium;
}
