
/* Partie : Modifiez le DOM */
#main {
    font-weight:normal;
    color: blue;
}

.important {
    font-style: italic;
    color: red;
}

/* Partie : Écoutez des événements */
#parent {
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    width: 300px;
}

.link {
    float: right;
    margin-left: 30px;
}

span {
    margin: 10px;
}

/* Partie : Récupérez des données utilisateur avec les événements */
#body {
    margin-top: 2rem;
    padding: 50px;
}

form, #result {
    margin: auto;
    margin-bottom: 20px;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
}

/* Partie : Récupérez des données d'un service web */
.row {
    display: flex;
    flex-direction: row;
}

#ask-weather1, #ask-weather2 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

#weather-result {
    text-align: center;
    font-size: 24px;
}

/* Partie : Validez les données saisies par vos utilisateurs */
#form-to-check {
    margin: auto;
    max-width: 300px;
    margin-top: 40px;
}

.result {
    text-align: center;
}

/* Partie : Sauvegardez des données sur le service web */
#form {
    max-width: 300px;
    margin: auto;
    margin-top: 30px;
}

#submitPOST {
    margin-top: 20px;
    margin-bottom: 20px;
}

#resultPOST {
    margin-top: 40px;
    text-align: center;
}

/* Tests perso */
.btn {
    background-color: grey;
    color: white;
    padding: 1rem 2rem;
    font-size: medium;
}
